@layer base, styles;

@layer base {
  :root {
    --black: #2b2b2c;
    --white: #ffffff;
    --yellow: #ffdea9;
    --pink: #cf6955;
    --blue: #058b8c;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;

    height: 100vh;
    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
}

@layer styles {
  .error-msg {
    white-space: pre-wrap;
  }

  .app-container {
    height: 100%;
    container-type: inline-size;
  }

  .app {
    --progress-bar-line-width: 2px;
    --progress-bar-stroke: var(--black);
    --progress-bar-thumb-position: 1; /* 1: at the bottom, 0: on the top */
    --bg: var(--yellow);
    --text: var(--black);
    @media (prefers-color-scheme: dark) {
      --progress-bar-stroke: var(--white);
      --bg: var(--black);
      --text: var(--yellow);
    }

    @container (width >= 1024px) {
      --progress-bar-line-width: 4px;
    }

    @container style(--state: pomodoro) {
      --progress-bar-thumb-position: 0;
      --bg: var(--pink);
      @media (prefers-color-scheme: dark) {
        --bg: var(--black);
        --text: var(--pink);
      }
    }

    @container style(--state: break) {
      --progress-bar-thumb-position: 0;
      --bg: var(--blue);
      @media (prefers-color-scheme: dark) {
        --bg: var(--black);
        --text: var(--blue);
      }
    }

    font-size: clamp(40px, 25cqw, 256px);
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 0.5em;
    user-select: none;
    background: var(--bg);
    color: var(--text);
    transition-property: background, color;
    transition-duration: 200ms;

    & input[type="range"] {
      /* Aliases */
      --line-width: var(--progress-bar-line-width);
      --thumb-position: var(--progress-bar-thumb-position);
      color: var(--progress-bar-stroke);

      --height: calc(18 * var(--line-width));
      --thumb-diameter: calc(3 * var(--line-width));
      --thumb-up: calc(-1 * (var(--height) - var(--thumb-diameter)) / 2);
      --thumb-down: calc(-1 * var(--thumb-up) - var(--line-width));
      --thumb-translate-y: calc(
        (var(--thumb-position) * var(--thumb-down)) -
          ((var(--thumb-position) - 1) * var(--thumb-up))
      );

      appearance: none;
      width: 100%;
      height: var(--height);
      margin: 0;
      background: repeating-linear-gradient(
          to right,
          currentColor,
          currentColor var(--line-width),
          transparent var(--line-width),
          transparent
            calc((100% - var(--line-width)) / (var(--number-of-markers, 0) + 1))
        ),
        linear-gradient(
          to top,
          currentColor,
          currentColor var(--line-width),
          transparent var(--line-width)
        ),
        transparent;
      background-position: calc((var(--thumb-diameter) - var(--line-width)) / 2)
        bottom;
      background-size: calc(100% - (var(--thumb-diameter) - var(--line-width)))
        50%;
      background-repeat: no-repeat;
    }

    /* Firefox */
    @supports (selector(::-moz-range-thumb)) {
      & input[type="range"] {
        &::-moz-range-track {
        }

        &::-moz-range-progress {
        }

        &::-moz-range-thumb {
          appearance: none;
          width: var(--thumb-diameter);
          height: var(--thumb-diameter);
          border: none;
          border-radius: 50%;
          background: currentColor;
          transition: translate 200ms;
          translate: 0 var(--thumb-translate-y);
        }
      }
    }

    /* Chromium-based browsers */
    @supports (selector(::-webkit-slider-thumb)) {
      & input[type="range"] {
        &::-webkit-slider-runnable-track {
        }

        &::-webkit-slider-thumb {
          appearance: none;
          width: var(--thumb-diameter);
          height: var(--thumb-diameter);
          border-radius: 50%;
          background: currentColor;
          transition: translate 200ms;
          translate: 0 var(--thumb-translate-y);
        }
      }
    }
  }
}
